// Place all the styles related to the SportFacilities controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.contentHeader{
  background-color: #4b0082;
   padding: 10px;
   float: left;
   width: 80%;
}
.contentForm{
  float: left;
  background-color: #ff4ff9;
   padding: 10px;
}


.contentHeaderMain{
  background-color: #708090;
  padding: 10px;
}
.contentHeaderSubmit{
   padding: 10px;
   background-color: #00bfff;
}

.contentFormX1 {
  padding: 10px;
  background-color: #dc1437;
  margin: 10px;
  float: left;
}
.contentFormX2 {
  float: right;
  padding: 10px;
  margin: 10px;
  background-color: #ff6347;
}

.contentHeaderPicture{
   padding: 10px;
  background-color:#00fa9a;
}

.contentHeaderPicture img{
  padding: 10px;
   background-color: #2e8b57;
}

.contentHeaderField{
  padding: 10px;
   background-color: #00ff00;
  
}

.contentHeaderCoreData{
  padding: 10px;
   background-color: #ffff00;
  margin: 10px;
}

.contentField{
  padding: 10px;
   background-color: #808000;
   margin: 10px;
  
}